@charset "UTF-8";
/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

html {
  font-size: 62.5%;
}

p,
a {
  font-size: 1.4rem;
}

.l-header {
  position: fixed;
  width: 300px;
  height: 100%;
  padding: 40px 45px;
}
.l-header-logo {
  width: 200px;
}
.l-header-logo img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.l-header-items {
  margin: 38px 0 0;
  list-style: none;
}
.l-header-item {
  display: inline-block;
  margin: 10px 0 0;
  padding: 6px;
  color: #121212;
  text-decoration: none;
}
@media screen and (min-width: 769px) {
  .l-header-item {
    transition: all ease-in-out 0.3s;
  }
  .l-header-item:hover {
    background-color: #FFDD00;
  }
}

.l-footer {
  margin: 160px 0 0 300px;
  background-color: #121212;
}
.l-footer-items {
  padding: 50px 0 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.l-footer-item {
  display: block;
  color: #FFF;
  font-size: 1.4rem;
  text-decoration: none;
  border-right: 1px solid #FFF;
}
.l-footer-item:last-of-type {
  border: none;
}
.l-footer-item a {
  padding: 0 20px;
  color: #FFF;
  text-decoration: none;
}
@media screen and (min-width: 769px) {
  .l-footer-item a {
    transition: all ease-in-out 0.3s;
  }
  .l-footer-item a:hover {
    color: #FFDD00;
  }
}
.l-footer-copyright {
  padding: 60px 0 20px;
  color: #FFF;
  font-size: 1.2rem;
  text-align: center;
}

.l-main {
  margin-left: 300px;
}
.l-main .section-wrap {
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
}
.l-main .section-ttl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.4rem;
  color: #121212;
}
.l-main .section-ttl:before {
  content: "";
  height: 1px;
  background: #121212;
  width: 240px;
}
.l-main .section-ttl::after {
  content: "";
  height: 1px;
  background: #121212;
  width: 240px;
}
.l-main .section-lead {
  margin: 80px 0 0;
  color: #121212;
  font-size: 1.6rem;
}
.l-main .bg-gradation {
  background: linear-gradient(to top, rgba(5, 0, 0, 0.8), rgba(255, 255, 255, 0));
}
.l-main .bg-normal {
  background-color: #FFF;
}
.l-main-mv {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 640px;
  z-index: -1;
}
.l-main-mv img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
}
.l-main-project {
  padding: 80px 0 0;
}
.l-main-project .section-ttl {
  color: #FFF;
}
.l-main-project .section-ttl::after {
  background: #FFF;
}
.l-main-project .section-ttl:before {
  background: #FFF;
}
.l-main-project .contents {
  margin: 60px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
.l-main-project .content {
  position: relative;
  list-style: none;
  width: 46%;
  padding-top: 30%;
  border: 1px solid #FFF;
}
.l-main-project .content img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.l-main-project .content:nth-of-type(1)::after {
  content: "project_01";
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #FFF;
  font-size: 1.2rem;
}
.l-main-project .content:nth-of-type(2)::after {
  content: "project_02";
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #FFF;
  font-size: 1.2rem;
}
.l-main-project .content:nth-of-type(3)::after {
  content: "project_03";
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #FFF;
  font-size: 1.2rem;
}
.l-main-project .content:nth-of-type(4)::after {
  content: "project_04";
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #FFF;
  font-size: 1.2rem;
}
.l-main-feature {
  padding: 160px 0;
}
.l-main-feature .section-ttl {
  color: #FFF;
}
.l-main-feature .section-ttl::after {
  background: #FFF;
}
.l-main-feature .section-ttl:before {
  background: #FFF;
}
.l-main-feature .contents {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 0;
}
.l-main-feature .contents .content {
  list-style: none;
}
.l-main-feature .contents .content .circle {
  display: block;
  width: 258px;
  height: 258px;
  line-height: 258px;
  text-align: center;
  border: 1px solid #FFF;
  border-radius: 50%;
  color: #FFF;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}
@media screen and (min-width: 769px) {
  .l-main-feature .contents .content .circle {
    transition: all ease-in-out 0.2s;
  }
  .l-main-feature .contents .content .circle:hover {
    background-color: #FFF;
    opacity: 0.3;
  }
}
.l-main-feature .contents .content .text {
  margin: 15px;
  color: #FFF;
  font-size: 1.4rem;
  text-align: center;
}
.l-main-feature .contents .content .text .ttl {
  display: block;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: bold;
}
.l-main-flow {
  padding: 120px 0 0;
}
.l-main-flow .content {
  display: flex;
  gap: 5%;
  margin: 60px 0 0;
}
.l-main-flow .figure-items {
  list-style: none;
}
.l-main-flow .figure-items .figure-item {
  width: 200px;
  height: 80px;
  background-color: #414141;
  margin-bottom: 60px;
  position: relative;
  text-align: center;
  font-size: 1.4rem;
  color: #FFF;
  line-height: 80px;
}
.l-main-flow .figure-items .figure-item::before {
  content: "";
  width: 200px;
  height: 30px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%);
          clip-path: polygon(0 0, 100% 0%, 50% 100%);
  background-color: #414141;
  position: absolute;
  bottom: -29.5px;
  right: 0;
  z-index: 1;
}
.l-main-flow .figure-items .figure-item::after {
  content: "";
  width: 50px;
  height: 40px;
  background-color: #FFDD00;
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
  margin: auto;
}
.l-main-flow .figure-items .figure-item:last-of-type::after {
  content: none;
}
.l-main-flow .description-items .description-item {
  list-style: none;
  margin: 44px 0 0;
}
.l-main-flow .description-items .description-item:first-child {
  margin: 0;
}
.l-main-flow .description-items .description-item .ttl {
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.l-main-flow .description-items .description-item .ttl .num {
  display: block;
  margin: 0 10px 0 0;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #414141;
  color: #FFF;
  font-size: 1.6rem;
  border-radius: 50%;
}
.l-main-flow .description-items .description-item .text {
  margin: 0 0 0 45px;
  padding: 10px 0 0;
  font-size: 1.6rem;
  border-top: 1px solid #121212;
}
.l-main-contact {
  padding: 106px 0 0;
}
.l-main-contact .contents {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 0;
  list-style: none;
  width: 100%;
}
.l-main-contact .content {
  display: block;
  width: 30%;
  text-align: center;
  position: relative;
}
.l-main-contact .content .content-inner {
  display: block;
  padding: 50px 0;
  text-decoration: none;
  color: #121212;
  outline: 1px solid #121212;
}
@media screen and (min-width: 769px) {
  .l-main-contact .content .content-inner {
    transition: all ease-in-out 0.1s;
  }
  .l-main-contact .content .content-inner:hover {
    outline: 3px solid #121212;
  }
}
.l-main-contact .content::after {
  content: "";
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 0;
  height: 0;
  border-bottom: 20px solid #121212;
  border-left: 20px solid transparent;
}