.l-footer {
    margin: 160px 0 0 300px;
    background-color: $sub-color;
    @include media-sp {
        margin: 120px 0 0 0;
    }
    &-items {
        padding: 50px 0 0;
        list-style: none;
        display: flex;
        justify-content: center;
        @include media-sp {
            flex-wrap: wrap;
        }
    }
    &-item {
        display: block;
        color: $main-color;
        font-size: 1.4rem;
        text-decoration: none;
        border-right: 1px solid $main-color;
        &:last-of-type {
            border: none;
        }
        a {
            padding: 0 20px;
            color: $main-color;
            text-decoration: none;
            @include media-pc {
                transition: all ease-in-out 0.3s;
                &:hover {
                    color: $accent-color;
                }
            }
        }
    }
    &-copyright {
        padding: 60px 0 20px;
        color: $main-color;
        font-size: 1.2rem;
        text-align: center;
        @include media-sp {
            padding: 70px 0 20px;
        }
    }
}