.l-main {
    width: 85%;
    .section-wrap {
        max-width: 860px;
        width: 100%;
        margin: 0 auto;
    }
    .section-ttl {
        font-size: 2.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:before {
            content: "";
            height: 1px;
            background: $sub-color;
            width: 240px;
        }
        &::after {
            content: "";
            height: 1px;
            background: $sub-color;
            width: 240px;
        }
    }
    .section-lead {
        color: $sub-color;
        font-size: 1.6rem;
    }
    &-mv {//.l-main-mv
        width: 100%;
    }
    &-project {//.l-main-project
        padding: 80px 0 0;
        .contents {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 50px;
        }
        .content {
            list-style: none;
            width: 402px;
            height: 256px;
            &:nth-of-type(1) {
                background: url(/images/project_01.jpg) no-repeat;
                background-size: cover;
            }
            &:nth-of-type(2) {
                background: url(/images/project_02.jpg) no-repeat;
                background-size: cover;
            }
            &:nth-of-type(3) {
                background: url(/images/project_03.jpg) no-repeat;
                background-size: cover;
            }
            &:nth-of-type(4) {
                background: url(/images/project_04.jpg) no-repeat;
                background-size: cover;
            }
        }

    }
    &-feature {//.l-main-feature
        padding: 160px 0 0;

    }
    &-flow {//.l-main-flow
        padding: 120px 0 0;

    }
    &-contact {//.l-main-contact
        padding: 146px 0 0;

    }
}