.l-main {
    .section-wrap {
        max-width: 860px;
        width: 100%;
        margin: 0 auto;
    }
    .section-ttl {
        font-size: 2.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:before {
            content: "";
            height: 1px;
            background: $sub-color;
            width: 240px;
        }
        &::after {
            content: "";
            height: 1px;
            background: $sub-color;
            width: 240px;
        }
    }
    .section-lead {
        margin: 80px 0 0;
        color: $sub-color;
        font-size: 1.6rem;
    }
    &-mv {//.l-main-mv
        width: 100%;
    }
    &-project {//.l-main-project
        padding: 80px 0 0;
        .contents {
            margin: 60px 0 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 50px;
        }
        .content {
            position: relative;
            list-style: none;
            width: 46%;
            padding-top: 30%;
            img {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:nth-of-type(1) {
                &::after {
                    content: "project_01";
                    position: absolute;
                    bottom: 5px;
                    left: 5px;
                    color: $main-color;
                    font-size: 1.2rem;
                }
            }
            &:nth-of-type(2) {
                &::after {
                    content: "project_02";
                    position: absolute;
                    bottom: 5px;
                    left: 5px;
                    color: $main-color;
                    font-size: 1.2rem;
                }
            }
            &:nth-of-type(3) {
                &::after {
                    content: "project_03";
                    position: absolute;
                    bottom: 5px;
                    left: 5px;
                    color: $main-color;
                    font-size: 1.2rem;
                }
            }
            &:nth-of-type(4) {
                &::after {
                    content: "project_04";
                    position: absolute;
                    bottom: 5px;
                    left: 5px;
                    color: $main-color;
                    font-size: 1.2rem;
                }
            }
        }

    }
    &-feature {//.l-main-feature
        padding: 160px 0 0;
        .contents {
            display: flex;
            justify-content: space-between;
            margin: 60px 0 0;
            .content {
                list-style: none;
                .circle {
                    display: block;
                    width: 258px;
                    height: 258px;
                    line-height: 258px;
                    text-align: center;
                    border: 1px solid black;
                    border-radius: 50%;
                    color: black;
                    font-size: 1.4rem;
                    text-decoration: none;
                    position: relative;
                }
                .text {
                    margin: 15px;
                    font-size: 1.4rem;
                    text-align: center;
                    .ttl {
                        display: block;
                        font-size: 1.6rem;
                    }
                }

            }
        }
    }
    &-flow {//.l-main-flow
        padding: 120px 0 0;
        .content {
            display: flex;
            gap: 5%;
            margin: 60px 0 0;
        }
        .figure-items {
            list-style: none;
            .figure-item {
                width: 200px;
                height: 80px;
                background-color: $figure-color;
                margin-bottom: 60px;
                position: relative;
                text-align: center;
                font-size: 1.4rem;
                color: $main-color;
                line-height: 80px;
                &::before {
                    content:"";
                    width: 200px;
                    height: 30px;
                    clip-path: polygon(0 0, 100% 0%, 50% 100%);
                    background-color: $figure-color;
                    position: absolute;
                    bottom: -30px;
                    right: 0;
                    z-index: 1;
                }
                &::after {
                    content: "";
                    width: 50px;
                    height: 40px;
                    background-color: $accent-color;
                    position: absolute;
                    bottom: -60px;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
                &:last-of-type {
                    &::after {
                        content: none;
                    }
                }
            }
        }
        .description-items {
            .description-item {
                list-style: none;
                margin: 44px 0 0;
                &:first-child {
                    margin: 0;
                }
                .ttl {
                    font-size: 2.0rem;
                    display: flex;
                    align-items: center;
                    .num {
                        display: block;
                        margin: 0 10px 0 0;
                        width: 35px;
                        height: 35px;
                        line-height: 35px;
                        text-align: center;
                        background-color: $figure-color;
                        color: $main-color;
                        font-size: 1.6rem;
                        border-radius: 50%;
                    }
                }
                .text {
                    margin: 0 0 0 45px;
                    padding: 10px 0 0;
                    font-size: 1.6rem;
                    border-top: 1px solid $sub-color;
                }
            }
        }
    }
    &-contact {//.l-main-contact
        padding: 106px 0 0;
        .contents {
            display: flex;
            justify-content: space-between;
            margin: 60px 0 0;
            list-style: none;
            width: 100%;
        }
        .content {
            display: block;
            list-style: none;
            width: 30%;
            text-align: center;
            border: 1px solid $sub-color;
            position: relative;
            .content-inner {
                display: block;
                padding: 50px 0;
                text-decoration: none;
                color: $sub-color;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 4px;
                right: 4px;
                width: 0;
                height: 0;
                border-bottom: 20px solid $sub-color;
                border-left: 20px solid transparent;
            }
        }

    }
}